<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="random"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <server name="LARAVEL_PARALLEL_TESTING" value="1"/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="55432"/>
        <env name="DB_DATABASE" value="use_lock_test"/>
        <env name="DB_USERNAME" value="use_lock"/>
        <env name="DB_PASSWORD" value="use_lock"/>
        <env name="DB_FOREIGN_KEYS" value="true"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
</phpunit>
